@page "/organizador";
@using EjerciciosBlazorServer.Data.Organizador;
@inject Contexto Contexto;

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3">
            <EditForm Model="@MiLista" OnValidSubmit="GuardarLista">
                <DataAnnotationsValidator />
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="oi oi-list"></i>
                        </div>
                    </div>
                    <InputText @bind-Value="MiLista.Nombre" class="form-control" placeholder="Nombre de la lista" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Crear</button>
                    </div>
                </div>
            </EditForm>
            @foreach (var lista in MisListas)
            {
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="oi oi-list"></i>
                        </div>
                    </div>
                    <input @onclick="(()=>CargarTareas(lista.Id))" value="@lista.Nombre" @onchange="(EventArgs) => {EditarLista(EventArgs.Value.ToString());}" type="text" class="form-control">
                    <div class="input-group-append">
                        <button @onclick="(()=>BorrarLista(lista))" class="btn btn-outline-danger" type="button">Borrar</button>
                    </div>
                </div>
            }
        </div>
        <div class="col-xl-6">
            <EditForm Model="@MiTarea" OnValidSubmit="GuardarTarea">
                <DataAnnotationsValidator />
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="oi oi-circle-check"></i>
                        </div>
                    </div>
                    <InputText @bind-Value="MiTarea.Nombre" class="form-control" placeholder="Dale un nombre a la tarea a realizar" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Crear</button>
                    </div>
                </div>
            </EditForm>
            @if (MisTareas != null)
            {
                <div class="alert alert-danger">
                    <b>No completado</b>
                </div>
                @foreach (var tarea in MisTareas)
                {
                    if (!tarea.Estado)
                    {
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input @bind="@tarea.Estado" @onclick="(()=>CambiarEstadoTarea(tarea.Id))" type="checkbox" />
                                </div>
                            </div>
                            <input @onclick="(()=>CargarPasos(tarea.Id))" value="@tarea.Nombre" @onchange="(EventArgs) => {EditarTarea(EventArgs.Value.ToString());}" type="text" class="form-control">
                            <div class="input-group-append">
                                <button @onclick="(()=>BorrarTarea(tarea))" class="btn btn-outline-danger" type="button">Borrar</button>
                            </div>
                        </div>
                    }
                }
                <div class="alert alert-success">
                    <b>Completado</b>
                </div>
                @foreach (var tarea in MisTareas)
                {
                    if (tarea.Estado)
                    {
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input @bind="@tarea.Estado" @onclick="(()=>CambiarEstadoTarea(tarea.Id))" type="checkbox" />
                                </div>
                            </div>
                            <input @onclick="(()=>CargarPasos(tarea.Id))" value="@tarea.Nombre" @onchange="(EventArgs) => {EditarTarea(EventArgs.Value.ToString());}" type="text" class="form-control tachado">
                            <div class="input-group-append">
                                <button @onclick="(()=>BorrarTarea(tarea))" class="btn btn-outline-danger" type="button">Borrar</button>
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <div class="col-xl-3">
            <EditForm Model="@MiPaso" OnValidSubmit="GuardarPaso">
                <DataAnnotationsValidator />
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="oi oi-check"></i>
                        </div>
                    </div>
                    <InputText @bind-Value="MiPaso.Nombre" class="form-control" placeholder="Subtarea o paso" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Crear</button>
                    </div>
                </div>
            </EditForm>
            @if (MisPasos != null)
            {
                @foreach (var paso in MisPasos)
                {
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input @bind="@paso.Estado" @onclick="(()=>CambiarEstadoPaso(paso.Id))" type="checkbox" />
                            </div>
                        </div>
                        @if (paso.Estado)
                        {
                            <input value="@paso.Nombre" type="text" class="form-control tachado">
                        }
                        else
                        {
                            <input value="@paso.Nombre" type="text" class="form-control">
                        }
                        <div class="input-group-append">
                            <button @onclick="(()=>BorrarPaso(paso))" class="btn btn-outline-danger" type="button">Borrar</button>
                        </div>
                    </div>
                }
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="oi oi-pencil"></i>
                        </span>
                    </div>
                    <textarea @onchange="(EventArgs) => {EditarComentario(EventArgs.Value.ToString());}" value="@Comentario" class="form-control" placeholder="Añade un comentario a la tarea"></textarea>
                </div>
            }
        </div>
    </div>
</div>